body{
    background-image: url(../image/flower3_V2.gif);
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: hidden;
   } 
div{
    height:540px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainArea{
    height: 1080px;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
}
h1{
    font-family: "標楷體";
    color:red;
    cursor: pointer;
}
audio{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
}
