
/* 設定字型、把body預設margin歸零 */
body{
    margin: 0px;
    font-family: "標楷體";
}
/* 設定container class的相關值 */
.container{
    width:960px;
    margin:0 auto;
    background-color:white;
    /* height: 100%; */
    /* border: 1px  solid black; */
}
/* Hearder區 */
.headerArea {
    margin: 0px;
    height: 20vh;
    width: 100%;
   
    /* background-color: #212529; */
    background: linear-gradient(#3a7bd5,#3a6073);
    position: relative;

}
/* Logo區 */
.logo{
    width: 400px;
    height: 100%;    
    text-align: center;
    /* position: relative; */
    margin-left:10px;


}
.logo>img{
    width: 35%;
    height: 35%;
    object-fit: contain;
}


/* 導覽列區 */
.navBar{
    width: 400px;
    height: 100%;
    display: inline-block;
    margin-left:30%;
    position: absolute;
    bottom:0px;
    right: 5%;
    overflow: hidden;
}
 .navBar>div{
    height: inherit;
    display: flex;  
    justify-content: right;
    align-items: center;
    /* background-color: #212529; */
    background: linear-gradient(#3a7bd5,#3a6073);
}

ul{
    
    list-style-type: none;
}

ul li{
    float: left ;
    color: white;
}

.headerArea a{
    font-size: 20px;
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}
.mainArea{
    /* position: absolute;
    top:150px;
    left: 50%; */
    /* width: 100vw; */
}
.teamsLogo{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px;
    margin: 0 auto;
}
.teamsLogo>div:nth-of-type(1){
    /* box-shadow: 18px 26px 7px 5px rgba(0,0,0,0.71); */
}
.teamsLogo>div:nth-of-type(2){
    display: flex;
    align-items: center;
}
.teamsImg{
    text-align: center;
    /* background-color: #212529; */
    background: linear-gradient(#3a7bd5,#3a6073);
    
}

.teamsImg>img{
    width: 960px;
    height: 500px;
    object-fit: cover;
    
}
article>h1,article>p{
    text-align: center;
}
.container>div{
    text-align: center;
}

.footerArea{
    display: flex;
    /* background-color:  #212529; */
    background: linear-gradient(#3a7bd5,#3a6073);
    color:white;
    justify-content: center;
    align-items: center;
}

.teamsPlayer01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
    /* border:1px solid black; */
}

.teamsPlayer01>div {
    /* border:1px solid black; */
    border-radius: 10px;
    /* background-color: #212529; */
    background: linear-gradient(#3a6073, #3a7bd5);
}

.teamsPlayer01>div>a {
    text-decoration: none;
    color: white;
}

.teamsPlayer01>div:hover {
    box-shadow: inset 0 0 0 3px black;
    transform: scale(0.9);
    opacity: 0.8;
}

.teamsPlayer01>div>img {
    border-radius: 10px 10px 0px 0px;
    background-image: url(../image/locallogo_002_V1.png);
    background-size: 30%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.teamsLogo>img {

    object-fit: contain;
}

#doorLocation {
    position: absolute;
    left: 45%;
    top: 165%;
    width: 60px;

}

#teamsIntro>p {
    font-size: 24px;
}

.roleText {
    border: 2px solid #3a7bd5;
    border-radius: 10px;

}