body {
    background-image: url(../image/placeBackImg07V3.png);

    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
audio{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
}


#mainArea {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
}

#mainArea>div {
    /* border: 1px solid black; */

}


/* 以下皆是把狀態欄的裝備欄位切出來*/
#mainArea>#topArea>#topLeftArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 90% 5%;

}

#topLeftArea>div:nth-of-type(2) {
    background-image: url(../image/statusImgV2.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#topLeftArea>div {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

#statusArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 90% 5%;
}

#statusArea>div {
    /* border: 1px solid black; */
}

#statusAreaNext {
    display: grid;
    grid-template-columns: 20% 64% 16%;
    grid-template-rows: 1fr;
}

#statusAreaNext>div {
    /* border: 1px solid black; */
}

#statusAreaBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 20%;
}

#statusAreaBody>div {
    /* border: 1px solid black; */
}

#topArea {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
}

#topArea>div {

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

#talkArea {
    padding: 0p 30px 0px 30px;
    font-family: " 標楷體";
    font-size: 20px;
    color: white;
    height: 70%;
}

#topMidArea {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    height: 50%;
    width: 100%;

}

.talkClass {
    margin: 0px 10px 5px 0px;
}

.topMidAreaNextClass {
    border-radius: 10px;
    width: 100%;
    display: none;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    background-color: rgba(38, 12, 12, 0.5);


}


img[src*="trangle.png"] {
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: 15px;
}

#mainRole {
    /* 在這個範例中，只要position不是static或者fixed都可以 */
    position: absolute;
    left: 20%;
    bottom: 10px;

}

#secRole {
    position: absolute;
    right: 20%;
    bottom: 10px;
    width: 200px;
    height: 250px;
    transform: scaleX(-1);
    cursor: pointer;
}
#finger{
    position: absolute;
    right: 13%;
    bottom: 12%;
    width: 100px;
    height: 100px;
}

.tragleAniate {
    text-align: right;
}